body {
    background-color:#FCAF17;
}

nav {
    background-color: #FFCC00;
    color : white;
}

h4 {
    color : white;
}

nav a, ul {
    color : white;
    font-family: 'Jua', sans-serif;
}

img {
    height : 50px;
}

.container {
    display : grid;
    background-color:#FCAF17;
    color : white;
    text-align: center;
    margin-top: 3%;
    font-family: 'Jua', sans-serif;
}

ul {
    list-style-type: none;
}

.container li {
    height: 200px;
    color : white;
}

a, a:hover {
    text-decoration: none;
    color : white;
}


.header {
    margin-top : 5%;
    border: 3px;
    vertical-align: middle;
    grid-area: header;
}

.new_cli {
    margin-top : 10%;
    vertical-align: middle;
    grid-area: new_cli;
}

.org_cli {
    margin-top : 10%;
    vertical-align: middle;
    grid-area : org_cli;
}


.footer {
    vertical-align: middle;
    grid-area: footer;
}