{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-sm ">
    <!-- Logo -->
    
    <a href="/" class="navbar-brand"><img src="{{ url_for('static',filename='img/icon.png') }}" alt=""></a>
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item "><a href="/recommend" class="nav-link">카드 추천</a></li>
        <li class="nav-item "><a href="/cards" class="nav-link">주변 내 카드 혜택</a></li>
    </ul>
</nav>
<div class="grid">
    <div class="header">
        <br>
        <h1>KB 국민 카드를 이용하고 계신가요?</h1>
        <h4>기존 사용자의 경우 주변의 가맹점을, 신규 가입자의 경우 몇 가지 질문을 통해 카드를 추천해 드립니다.</h4>
    </div>
    <div class="new_cli">
        <a href="/recommend">
            <img class="rounded" src="{{ url_for('static',filename='img/new_user.png') }}" alt="" style="width:300px; height : 180px;">
            <p class="lead">새로 가입하고 싶어요!</p>
        </a>
    </div>
    <div class="org_cli">
        <a href="/cards">
            <img class="rounded" src="{{ url_for('static',filename='img/old_user.png') }}" alt="" style="width:300px; height: 180px;">
            <p class="lead">이미 국민 카드를 사용하고 있어요!</p>
        </a> 
    </div>
</div>
{% endblock %}
